Basic NAPT features

## MUST
- [x] NAT for UDP packet, [RFC 4787](https://datatracker.ietf.org/doc/html/rfc4787)
- [x] IP fragmentation tracking to reassemble layer 4 header information, [RFC 6864](https://datatracker.ietf.org/doc/html/rfc6864)
- [x] NAT for ICMP query message, [RFC 5508](https://datatracker.ietf.org/doc/html/rfc5508)
- [x] NAT for ICMP error message, [RFC 5508 Sec.7](https://datatracker.ietf.org/doc/html/rfc5508#section-7)
- [x] Create query ID binding for inbound ICMP query message to NAT host
- [x] Simplified TCP session tracking and NAT for TCP packet, [RFC 7857 Sec.2](https://datatracker.ietf.org/doc/html/rfc7857#section-2), [RFC 5382](https://datatracker.ietf.org/doc/html/rfc5382)
- [x] Hairpin handling in eBPF side

## SHOULD
- [ ] #8